@import 'tailwindcss';

body {
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
}


/* tailwind.config.js or global styles */
::-webkit-scrollbar {
  display: none;
}

body {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
